{% extends 'layout.njk' %}

{% block content %}
   <h1>
    This is Index Page Content
   </h1>

   <div>
      <div class="box">
         box 
      </div>
      <div class="box">
         sds
               <div class="box2">
               box 
            </div>
      </div>

   </div><br><br>
   <div class="flex-container">
      <div class="sb">1</div>
      <div class="sb">2</div>
      <div class="sb">3</div>
      <div class="sb">4</div>
      <div class="sb">5</div>
   </div>

   <div>
      <img class="img-fluid" src="http://commondatastorage.googleapis.com/codeskulptor-assets/lathrop/nebula_brown.png" alt="">
   </div>

   <div class="namkillsforcats">
      &nbsp;
   </div>
{% endblock content %}