{% extends 'layout.njk' %}

{% block content %}



<div class="theme-2">
  <div class="container">
      <div class="left">
          Left
          Left
          Left
          Left
      </div>
      <div class="right">
          Rightaass
          Rightaass
          Rightaass
          Rightaass
          Rightaass
          Rightaass
          <button class="button">Button</button>
          <button class="button">Button</button>
      </div>
  </div>
</div>

{% endblock content %}